{% block profile_dashboard %}

    <div class="profile-dashboard">
        {% if is_granted('ROLE_USER') %}

            <h2>Mon tableau de bord</h2>
            <div class="actions">
            <a href="{{ path('files') }}" class="cta">Mes documents</a>
                {% if is_granted('ROLE_EMPLOYEE') %}

                    <a href="{{ path('expertises') }}" class="cta">Mes compétences</a>
                    <a href="{{ path('experiences') }}" class="cta">Mes missions</a>

                {% endif %}
            </div>

        {% endif %}
        {% if is_granted('ROLE_COMMERCIAL') %}

            <h2>Effectif</h2>
            <div class="actions">
                <a href="{{ path('members') }}" class="cta">Gérer les profils</a>
            </div>

        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}

            <h2>Nomenclature</h2>
            <div class="actions">
                <a href="{{ path('companies') }}" class="cta">Gérer les entreprises</a>
                <a href="{{ path('categories') }}" class="cta">Gérer les catégories</a>
                <a href="{{ path('technologies') }}" class="cta">Gérer les technologies</a>
            </div>

        {% endif %}
        <h2>Mon compte</h2>
        <div class="actions">
            {% if user.address %}

                <a href="{{ path('update_data_profile') }}" class="cta">Modifier mes données</a>
            
            {% else %}

                <a href="{{ path('application') }}" class="cta">Candidatez</a>
            
            {% endif %}
            {% if is_granted('ROLE_USER') and not is_granted('ROLE_EMPLOYEE') %}

                <a href="{{ path('delete_profile_confirmation') }}" class="cta delete">Supprimer mon compte</a>
            
            {% endif %}
        </div>
        {% if not user.address %}

            <p>Pour soumettre votre candidature, veuillez remplir le formulaire accessible en cliquant sur 'Candidatez'.</p>
            <p>N'oubliez pas de déposer votre CV dans la section 'Mes documents'.</p>
            
        {% endif %}
    </div>

{% endblock %}