{% block profile_data %}

    <div class="profile-data">
        <div class="main-data">
            <div class="profile-picture">
                {% if picture.name is defined and picture.name is not null %}
                    
                    <img src="{{ absolute_url(asset('uploads/pictures/' ~ picture.name)) }}" alt="profile-picture">

                {% else %}

                    <img src="https://eu.ui-avatars.com/api/?name={{ user.firstname }}+{{ user.lastname }}&size=200&background=FFD900&color=000" alt="profile-picture">

                {% endif %}
                <div class="actions">
                    <a href="{{ path('picture') }}" class="update"><i class="fas fa-pen"></i></a>
                    {% if picture.name is defined and picture.name is not null %}
                    
                        <a href="{{ path('delete_picture', {'id': picture.id}) }}" class="delete"><i class="fas fa-times-circle"></i></a>

                    {% endif %}
                </div>
            </div>
            <h2>{{ user.firstname }} {{ user.lastname }}</h2>
            
            {% block profile_roles %}
                {% include "profile/profile_roles.html.twig" %}
            {% endblock %}

        </div>
        {% if user.address %}

            <div class="contact-data">
                <div class="data">
                    <p><span>Adresse :</span>{{ user.address }}</p>
                </div>
                <div class="data">
                    <p><span>Code postal :</span>{{ user.postcode }}</p>
                </div>
                <div class="data">
                    <p><span>Ville :</span>{{ user.town }}</p>
                </div>
                <div class="data">
                    <p><span>Email :</span>{{ user.email }}</p>
                </div>
                <div class="data">
                    <p><span>Téléphone :</span>{{ user.phoneNumber }}</p>
                </div>
                <div class="data">
                    <p><span>Date de naissance :</span>{{ user.birth|date('F j, Y') }}</p>
                </div>
                <div class="data">
                    <p><span>Age :</span>{{ date('now').diff((date(user.birth))).format('%y ans') }}</p>
                </div>
            </div>
            
        {% endif %}
    </div>

{% endblock %}