{% block card_document %}

    <div class="member-documents">
        <h2>Documents de {{ profile.firstname }}</h2>
        {% if file %}

            <div class="file">
                <i class="far fa-file-pdf"></i>
                <p>{{ file.name }}</p>
            </div>
            <div class="actions">
                <a href="{{ absolute_url(asset('uploads/cv/' ~ file.name)) }}" class="cta" target="_blank">Ouvrir dans un nouvel onglet</a>
                {% if is_granted('ROLE_ADMIN') %}

                    <a href="{{ path('delete_file', {'id': file.id}) }}" class="cta delete">Supprimer le CV</a>

                {% endif %}
            </div>
            <embed src="{{ absolute_url(asset('uploads/cv/' ~ file.name)) }}" type="" width="100%" height="500">
            
        {% else %}

            <p>{{ profile.firstname }} n'a pas encore ajouté de document.</p>

        {% endif %}
    </div>

{% endblock %}