{% block card_skill %}

    <div class="member-skills">
        <h2>Compétences de {{ profile.firstname }}</h2>
        {% if is_granted('ROLE_ADMIN') %}

            <a href="{{ path('add_skill_member', {'id': profile.id }) }}" class="cta add"><i class="fas fa-plus"></i></a>

        {% elseif is_granted('ROLE_COMMERCIAL') %}
            {# Le commercial a seulement les droits d'ajouts sur les profils collaborateurs et candidats #}
            {% if profile.roles[0]  != 'ROLE_COMMERCIAL' and profile.roles[0]  != 'ROLE_ADMIN' %}
                                    
                <a href="{{ path('add_skill_member', {'id': profile.id }) }}" class="cta add"><i class="fas fa-plus"></i></a>
        
            {% endif %}
            
        {% endif %}
        {% if skills %}

            <ul class="skills-list">
                {% for skill in skills %}
                    <li class="skill">
                        <div class="skill-header">
                            <h3>{{ skill.name }}</h3>
                            <div class="actions">
                            {% if is_granted('ROLE_ADMIN') %}

                                <a href="{{ path('update_skill_member', {'id': skill.id}) }}" class="update"><i class="fas fa-pen"></i></a>
                                <a href="{{ path('delete_skill_member', {'id': skill.id}) }}" class="delete"><i class="fas fa-times-circle"></i></a>
            
                            {% endif %}
                            </div>
                        </div>
                        <p class="italic">{{ skill.category.name }}</p>
                        <div class="skill-level">
                            <p class="rating hidden">{{ skill.level }}</p>
                            <i class="far fa-circle"></i>
                            <i class="far fa-circle"></i>
                            <i class="far fa-circle"></i>
                            <i class="far fa-circle"></i>
                            <i class="far fa-circle"></i>
                        </div>
                        <div class="skill-like">
                            {% if skill.appreciated == 1 %}

                                <i class="far fa-thumbs-up"></i>
                            
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>

        {% else %}

            <p>{{ profile.firstname }} n'a pas encore ajouté ses compétences.</p>
        
        {% endif %}
    </div>

{% endblock %}