{% extends 'base.html.twig' %}

{% block title %}Tous les profils{% endblock %}

{% block body %}
    <section>
        <div class="container">
            {% if is_granted('ROLE_COMMERCIAL') %}

                <div class="profile-header cta-right">
                    <a href="{{ path('members') }}" class="cta">Retour</a>
                </div>
                <h1>Recherche avancée</h1>
                {{ form_start(search_member_form, {'attr': {'class': 'form'}}) }}
                {{ form_end(search_member_form) }}

                {% if profiles is not null %}
                    <ul class="profiles-list">
                        {% for profile in profiles|reverse %}
                            <li class="{{ (profile.isEmployed == 1) ? 'is-employed' : '' }} profile-user">
                                <div>
                                    <h3>{{ profile.firstname }} {{ profile.lastname }}</h3>
                                    {% block member_roles %}
                                        {% include "member/member_role.html.twig" %}
                                    {% endblock %}
                                    <a href="{{ path('card_member', {'id': profile.id}) }}">Plus d'infos</a>
                                </div>
                                <div>
                                    <img src="https://eu.ui-avatars.com/api/?name={{ profile.firstname }}+{{ profile.lastname }}&size=50&background={{ (profile.gender == 'M') ? '448CF8' : 'FF9DAD' }}&color=FFF" alt="profile-picture">
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>ℹ️ Aucun profil utilisateur ne correspond à votre recherche</p>
                {% endif %}

            {% endif %}
        </div>
    </section>
{% endblock %}
