{% extends 'base.html.twig' %}

{% block title %}Uploader votre document{% endblock %}

{% block body %}

    <section>

        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="success">
                    <div class="container">
                        <div>{{ message }}</div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}

        <div class="container">
            <div class="profile-header">
                <h1>Mon espace personnel</h1>
                <a href="{{ path('profile') }}" class="cta">Retour</a>
            </div>
            <div class="profile-infos">

                {% block profile_data %}
                    {% include "profile/profile_data.html.twig" %}
                {% endblock %}

                <div class="profile-dashboard">
                    <h2>Mes documents</h2>
                    {% if upload.name is defined and upload.name is not null %}

                        <div class="file">
                            <i class="far fa-file-pdf"></i>
                            <p>{{ upload.name }}</p>
                        </div>
                        <div class="actions">
                            <a href="{{ absolute_url(asset('uploads/cv/' ~ upload.name)) }}" class="cta" target="_blank">Ouvrir dans un nouvel onglet</a>
                            <a href="{{ path('delete_file', {'id': upload.id}) }}" class="cta delete">Supprimer mon CV</a>
                        </div>
                        <embed src="{{ absolute_url(asset('uploads/cv/' ~ upload.name)) }}" type="" width="100%" height="600"> 
                        
                    {% else %}

                        <p>Vous n'avez pas encore ajouté votre CV.</p>
                        {{ form_start(upload_form, { 'attr': {'class': 'form upload-form'} }) }}
                        {{ form_end(upload_form) }}

                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}
