{% extends 'base.html.twig' %}

{% block title %}Mon espace personnel{% endblock %}

{% block body %}
    <section class="profile">

        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="success">
                    <div class="container">
                        <div>{{ message }}</div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}

        <div class="container">
        {% if is_granted('ROLE_EMPLOYEE') %}

            <div class="profile-header">
                <h1>Mon espace personnel</h1>
                <a href="{{ path('profile') }}" class="cta">Retour</a>
            </div>
            <div class="profile-infos">
                {% block profile_data %}
                    {% include "profile/profile_data.html.twig" %}
                {% endblock %}

                <div class="profile-dashboard profile-experiences">
                    <h2>Mes expériences</h2>
                    <a href="{{ path('add_experience') }}" class="cta add"><i class="fas fa-plus"></i></a>
                    {% if experiences %}
                        <ul class="missions-list">
                            {% for experience in experiences|sort((a, b) => b.dateStart <=> a.dateStart) %}
                                <li class="mission">
                                    <div class="mission-header">
                                        <div class="actions">
                                            <a href="{{ path('update_experience', {'id': experience.id}) }}" class="update"><i class="fas fa-pen"></i></a>
                                            <a href="{{ path('delete_experience', {'id': experience.id}) }}" class="delete"><i class="fas fa-times-circle"></i></a>
                                        </div>
                                        {% if experience.dateEnd %}
                                            <p class="mission-date">du {{ experience.dateStart|date('d/m/Y') }} au {{ experience.dateEnd|date('d/m/Y') }}</p>
                                        {% else %}
                                            <p class="mission-date">depuis le {{ experience.dateStart|date('d/m/Y') }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="mission-infos">
                                        <h3>{{ experience.profession }}</h3>
                                        <p>{{ experience.companyName }} - {{ experience.workplaceTown }}</p>
                                        <p>{{ experience.description }}</p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Vous n'avez pas encore ajouté vos expériences.</p>
                    {% endif %}
                </div>
            </div>
                
        {% endif %}
        </div>
    </section>
{% endblock %}
