{% extends 'base.html.twig' %}

{% block title %}Ajoutez une compétence{% endblock %}

{% block body %}

    <section>
        <div class="container">
            {% if is_granted('ROLE_EMPLOYEE') %}
                
                <div class="profile-header unique-item">
                    <a href="{{ path('expertises') }}" class="cta">Retour</a>
                </div>
                <h1>{{ (expertise is defined) ? 'Modifier' : 'Ajouter' }} une compétence</h1>
                {{ form_start(expertise_form, {'attr': {'class': 'form'}}) }}
                    {{ form_row(expertise_form.technology) }}
                    {{ form_row(expertise_form.level) }}
                    {{ form_row(expertise_form.appreciated) }}
                    {% if expertise is defined %}
                        
                        {{ form_row(expertise_form.send, {'label': 'Modifier'}) }}
                    
                    {% else %}
                        
                        {{ form_row(expertise_form.send, {'label': 'Ajouter'}) }}
                    
                    {% endif %}
                {{ form_end(expertise_form) }}
                
            {% endif %}
        </div>
    </section>
    
{% endblock %}
